/* Estilos generales */
.post-type-archive-eventos .site-content {
  background-color: #fff;
}

.container-eventos-agenda {
  width: 100%;
}

.eventos-grid {
  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));*/
  gap: 30px;
  margin-top: 30px;
}

.evento-card {
  display: flex;
  padding: 20px 25px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 700px) {
  .evento-card {
    flex-direction: column;
  }
}

.evento-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.evento-header {
  padding: 0 20px 20px 20px;
}

.evento-categoria {
  font-size: 16px;
  color: #999999;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.evento-titulo {
  font-size: 22px;
  margin: 0 0 10px;
  font-weight: 500;
  color: #7e0910;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.evento-autor {
  font-size: 16px;
  font-style: italic;
  color: #333333;
  margin-bottom: 10px;
}

.evento-temporada {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
  background-color: #7e0910;
  border-radius: 15px;
  padding: 3px 10px;
}

.evento-imagen img {
  width: 300px;
  height: auto;
  border-radius: 2px;
}

.evento-fechas {
  padding: 10px 10px;
  overflow-x: auto;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.evento-fechas table {
  width: 100%;
  border: none;
  font-size: 14px;
}

.evento-fechas th {
  background-color: #fff;
  color: #000000;
  padding: 5px;
  text-align: left;
  border: none;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
tbody tr:hover {
  background-color: #7e091017;
}
.evento-fechas td {
  color: #000000;
  padding: 8px;
  border: none;
}

.evento-fechas td img {
  width: 80px;
}

.evento-fechas a {
  color: #7e0910;
  text-decoration: underline;
}

/* Paginación */
.pagination {
  margin-top: 40px;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .eventos-grid {
    grid-template-columns: 1fr;
  }
}
